.app-wrapper {
	display: grid;
	width: 1280px;
	margin: 0 auto;
	grid-template-areas:
		"header header"
		"nav content";
	grid-template-rows: 60px 1fr;
	grid-template-columns: 2fr 10fr;
	grid-gap: 10px;
}

.header {
  	grid-area: header;
	background-color: #F5F5F6;
	align-self: center;
}

.header img {
	width: 230px;
}

.nav {
	grid-area: nav;
	background-color: #E1E2E1;
}

.content {
	grid-area: content;
	background-color: #F5F5F6;
}

.content img {
	width: 100%;
}